@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "使用者管理";
}

    <div class="card-body">
    <button class="btn-success" onclick="$('#divEdit').show()"> 新增</button>
        <table id="tb" class="table" style="width:100%">

        </table>
    <div class="card" id="divEdit" >
        <div class="row">
            <label>ID</label>
            <input type="text" class="form-control" id="txtID" />
        </div>
        <div class="row">
            <label>姓名</label>
            <input type="text" class="form-control" id="txtName" />
        </div>
        <div class="row">
            <label>密碼</label>
            <input type="password" class="form-control" id="txtPwd" />
            <label>確認密碼</label>
            <input type="password" class="form-control" id="txtPwd2" />
        </div>
        <div class="row">
            <button class="btn-primary" onclick="Save()"> 存檔</button>
            <button class="btn-danger" onclick="$('#divEdit').hide()"> 關閉</button>
        </div>
    </div>
    </div>
   

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
    var oTable;
    var Datatype = 'N';
        function Reload() {
            oTable.ajax.reload(null, true);
        }
    function CheckField() {
        if ($('#txtID').val().toString().trim() == ''){
            alert('請輸入ID!');
            return false;
        }
        if ($('#txtName').val().toString().trim() == '') {
            alert('請輸入姓名!');
            return false;
        }
        if ($('#txtPwd').val().toString().trim() == '') {
            alert('請輸入密碼!');
            return false;
            
        }
        else {
            if ($('#txtPwd').val().toString().trim() != $('#txtPwd2').val().toString().trim()) {
                alert('密碼與確認密碼不符!');
                return false;
            }
        }
        return true;
    }
    function Save() {
        if(CheckField()){
        var url ="";
        if (Datatype=='N'){
            url = '@Url.Content("~/Member/Insert")';
        }else{
            url = '@Url.Content("~/Member/Update")';
        }
        var rowdata = {};
        rowdata.ID = $('#txtID').val();
        rowdata.Mname = $('#txtName').val(); //新增
        rowdata.Mpswd = $('#txtPwd').val();
        $.ajax({
            url: url,
            type: 'POST',
            dataType: 'json',
            data: rowdata,
            async: false,
            cache: false,
            success: function (data) {
                alert(data.Alert, '訊息', function () {
                    Reload();
                    $('#txtID').val('');
                    $('#txtName').val(''); //新增
                    $('#txtPwd').val('');
                    $('#txtPwd2').val('');
                    $('#divEdit').hide();
                });
            },
            complete: function (data) {

            }
        });
        }
    }
        $(function () {
        $('#divEdit').hide();
        var TableOptions = {
            //language: {
            //    url: "@Url.Content("~/assets/js/datatables/tw.json")"
            //},
            //"dom": 'lrtip',
            //iDisplayLength: 5,//每頁的行數
            //serverSide: false,//分頁功能開啟，打開lengthChange
            scrollX: true,
            searching: false,
            lengthChange: false,
            processing: true,
            serverSide: true,
            order: [[0, 'asc']],
            ajax: {
                type: 'POST',
                url: '@Url.Content("~/Member/QueryJson")',
            },
            columns: [
                { 'title': 'ID', 'data': 'ID' },
                { 'title': '姓名', 'data': 'Mname' },
                { 'title': '密碼', 'data': 'Mpswd' },
                {
                    'title': '維護', 'data': '', 'orderable': false, render: function (data, type, row) {
                            var btnEdit = '<button class="btn btn-sm-block btn-primary ml-1" type="button" name="edit"><i class="ti-pencil"></i> 編輯</button>';
                            var btnDel = '<button class="btn btn-sm-block btn-danger ml-1" type="button" name="del"><i class="ti-close"></i> 刪除</button>';
                            return btnEdit + btnDel;

                    }
               
                }
            ]
        }

        oTable = $('#tb').DataTable(TableOptions);
        $('#tb tbody').on('click', 'button', function () {
            var data = oTable.row($(this).parents('tr')).data();
            if ($(this).attr('name') == 'edit') {
                Update(data);
            }
            else {
                Del(data);
            }
        });
        });
    function Update(item) {
        $('#divEdit').show();
        Datatype = 'E'
        $('#txtID').val(item.ID);
        $('#txtName').val(item.Mname); 
    }
    function Del(item) {
        Datatype = 'D'
    }
</script>
